APP_NAME=Wfreight
APP_ENV=local
APP_KEY=base64:jT47Mtwd68at3i/K499OHMZUASrd+luVHyG1sdHGub8=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=wfreight
DB_HOST=localhost
DB_PORT=5433
DB_DATABASE=wfreight
DB_USERNAME=postgres
DB_PASSWORD=654321


DB_CONNECTION_OTHER=laravel_testing
DB_HOST_OTHER=localhost
DB_PORT_OTHER=5433
DB_DATABASE_OTHER=laravel_testing
DB_USERNAME_OTHER=postgres
DB_PASSWORD_OTHER=654321


DB_CONNECTION_OTHER2=test_wfreight
DB_HOST_OTHER2=localhost
DB_PORT_OTHER2=5433
DB_DATABASE_OTHER2=test_wfreight
DB_USERNAME_OTHER2=postgres
DB_PASSWORD_OTHER2=654321


BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

# MAIL_MAILER=smtp
# MAIL_HOST=mailhog
# MAIL_PORT=1025
# MAIL_USERNAME=null
# MAIL_PASSWORD=null
# MAIL_ENCRYPTION=null
# MAIL_FROM_ADDRESS="hello@example.com"
# MAIL_FROM_NAME="${APP_NAME}"

MAIL_MAILER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=8759bb648d1613
MAIL_PASSWORD=4f5129f69acfc6
MAIL_ENCRYPTION=tls

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_HOST=
PUSHER_PORT=443
PUSHER_SCHEME=https
PUSHER_APP_CLUSTER=mt1

VITE_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
VITE_PUSHER_HOST="${PUSHER_HOST}"
VITE_PUSHER_PORT="${PUSHER_PORT}"
VITE_PUSHER_SCHEME="${PUSHER_SCHEME}"
VITE_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

FILESYSTEM_DISK=public
